body {
    margin : 8px;
}

button {
    margin : 4px;
}

.row {
    display : flex;
}

.label {
    margin    : 4px;
    font-size : small;
}

.input {
    margin : 4px;
    flex   : 1;
}

.message {
    margin      : 4px;
    font-weight : bold;
    color       : #33691E;
}
